:root {
    /* font size */
    --font-size-m: 12px;
    --font-size-r: 14px;
    --font-size-rb: 16px;
    --font-size-b: 17px;
    --font-size-l: 21px;

    /* colors */
    --accent-color: #0077FF;
    --secondary-color: #447bba;
    --selected-color: #346297;
    --main-color: #FFFFFF;
    --second-color: #e9ecf1;
    --separator-color: #dce1e6;
    --head-color: #e5ebf1;
    --subhead-color: #626d7a;
    --overlay-color: rgba(0, 0, 0, 0.3);

    /* borders */
    --border-radius-m: 12px;
    --border-radius-s: 8px;
    --border-radius-t: 4px;

    /* z-index */
    --drop-z-index: 2;
    --modal-z-index: 3;

    /* animations */
    --fast-animation: 0.3s all ease
}
