:root {
    /* font size */
    --font-size-m: 12px;

    /* colors */
    --accent-color: #0077FF;
    --secondary-color: #447bba;
    --selected-color: #346297;
    --main-color: #FFFFFF;
    --second-color: #e9ecf1;
    --separator-color: #dce1e6;
    --head-color: #e5ebf1;
    --subhead-color: #626d7a;

    /* borders */
    --border-radius-m: 12px;
    --border-radius-s: 8px;

    /* animations */
    --fast-animation: 0.3s all ease
}
