.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.modal.full .overlay .content {
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.close, .select {
    font-size: var(--font-size-b);
    cursor: pointer;
}

.close {
    opacity: 0.4;
}

.select {
    font-weight: bold;
    opacity: 0.4;
}

.title {
    font-size: var(--font-size-l);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 0 20px 20px 20px;
    border-radius: 12px;
    background-color: var(--second-color);
    transition: 0.3s transform;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);
}

.isClosing .overlay {
    transition: 0.3s background;
    background-color: transparent;
}


.isClosing .content {
    transform: translateX(-100%);
}

