.item {
    user-select: none;
    flex-grow: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    height: 80%;
    padding: 4px;
    border-radius: var(--border-radius-t);
    color: var(--selected-color);
    background-color: var(--head-color);
}

.close {
    opacity: 0.6;
    cursor: pointer;
    margin-left: 4px;
}

.close:hover {
    transition: var(--fast-animation);
    opacity: 1;
}

.active {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
