.app {
    margin: 50px auto 0 auto;
    max-width: 550px;
    height: fit-content;
    background-color: var(--main-color);
    border-radius: var(--border-radius-m);
    padding: 20px;
    border: 1px solid var(--separator-color);
}

