.list {
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    background-color: var(--second-color);
    font-size: var(--font-size-b);
    border: none;
}

.icon {
    opacity: 0.4;
}
