.dropdown {
    position: relative;
}

.dropdown.open .list {
    display: flex;
}

.arrow {
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px;
}

.dropdown .list {
    overflow-y: scroll;
    display: none;
    position: absolute;
    width: 100%;
    min-height: fit-content;
    list-style: none;
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    border: 1px solid var(--separator-color);
    background-color: var(--main-color);
    border-top: none;
}

.input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

