.dropdown {
    width: 100%;
    position: relative;
}

.dropdown.open .list {
    display: flex;
    z-index: var(--drop-z-index);
}

.button {
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

.input {
    width: 100%;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius-s);

}

.open .input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.dropdown .innerInput {
    width: 100px;
    flex-grow: 1;
}
