.dropdown {
    position: relative;
}

.dropdown.open .list {
    display: flex;
    z-index: 1;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

.arrow {
    margin-top: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px;
}

.input {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius-s);

}

.open .input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.dropdown .innerInput {
    width: 100px;
    flex-grow: 1;
}
