.item {
    cursor: pointer;
    padding: 6px 0 8px 9px;
    background-color: var(--main-color);
}

.item:not(:last-child) {
    border-bottom: 1px solid  var(--separator-color);
}

.active {
    outline: none;
    background-color: var(--head-color);
}
